body {
	background-image: url(https://i.imgur.com/WQLxoZx.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-color: #000;
}

div#header-ripoff {
	margin: 12px;
	margin-top: 40px;
	margin-right: 0px;
}

div#title-ripoff {
	font-family: 'Open Sans', sans-serif;
	font-size: 100px;
	margin: 15px;
	font-weight: bold;
	text-align: center;
}

div#subtitle-ripoff {
	text-align: center;
	font-size: 40px;
}

div#buttons-ripoff {
	text-align: center;
	width: calc(100% - 55px);
	margin: 30px;
}

div#break{
	width: 75%;
	height: 1px;
	-webkit-box-shadow: 6px 6px 0px 0px #444;
	-moz-box-shadow: 6px 6px 0px 0px #444;
	margin-left: 12.5%;
	box-shadow: 6px 6px 0px 0px #444;
}

div#end {
	margin-top: 100px;
	height: 100px;
	width: 100%;
	background-color: #282C35;
	font-size: 15px;
	color: #808691;
	text-align: center;
	border-radius: 25px 25px 0px 0px;
}

div.bcs-header{
	height: 50px;
	padding: 25px 25px 550px 25px;
	font-size: 23px;
	font-family: "Open Sans", sans-serif;
}

div.bcs-footer-comparison{
	background: url(https://i.imgur.com/arEzZE2.png);
	width: 399px;
	height: 108px;
}

div.bcs-info-comparison{
	background: url(https://i.imgur.com/ux0WN7z.png?1);
	width: 816px;
	height: 545px;
}

div.end-nothing {
	height: 45%;
}

ul.bcs-list{
	font-size: 16px;
	list-style-type: circle;
	-webkit-margin-before: 2em;
	-webkit-margin-after: 2em;
	-webkit-margin-start: 10px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

a.subtitle{
	font-size: 18px;
	margin-left: 10px;
	font-style: italic;
}

a.reasons {
	font-size: 17px;
	text-decoration: none;
	font-weight: bold;
	color: #3498DB;
	border: #D3D3D3 1px solid;
	padding: 2px 10px 4px 10px;
}
a.reasons:hover {
	background-color: #fff;
}

a.original {
	text-decoration: none;
	color: #3498DB;
}

a.button-l {
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	min-width: 155px;
	min-height: 35px;
	padding: 14px 28px 14px 28px;
	font-size: 11px;
	font-weight: bold;
	border-radius: 25px;
	box-sizing: border-box;
	margin: 0px 10px 10px 10px;
	color: #fff;
}

a.link-ripoff {
	border: 1px solid #3498db;
	background: #3498db;
}

a.side-ripoff {
	border: 1px solid #fff;
	background: rgba(0, 0, 0, 0);
}
a.link-ripoff:hover{
	border: 1px solid #1D6FA6;
}

b.bcs-strong {
	font-weight: bold;
	font-style: italic;
	color: #00BEE8;
}
b.rcs-strong {
	font-weight: bold;
	font-style: italic;
	color: #734ba9;
}

p.bcs-p {
	margin-left: 20px;
	font-size: 15px;
}

li {
	margin-top: 35px;
}