div#mobbottom {
	margin-left: -8px;
	position: absolute;
	width: 100%;
}
div#mobsocial {
	background-color: #404040;
	height: 150px;
	width: 100%;
	position: relative;
}
div#moblanguages {
	width: 100%;
	height: 600px;
	background-color: #5E5E5E;
	position: relative;
}